

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Unity Guides</title>
    
    <link rel="icon" href="../src/public/pix/logo.svg" type="svg+xml">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/public/styles/globals.css">
    <script src='../src/public/scripts/globals.js' defer></script>
    <script src='../src/public/scripts/includes/appbar.js' defer></script>
    <script src='../src/public/scripts/includes/sidebar.js' defer></script>
</head>
<body>
    <app-bar></app-bar>
    <side-bar></side-bar>

    <app-home>
        <post>
            <post-home>
                <post-header>
                    <t1></t1>
                </post-header>
                <post-body></post-body>
            </post-home>
        </post>
    </app-home>
</body>
</html>